[submodule "src_Core/Near_Mem"]
	path = src_Core/Near_Mem
	url = https://github.com/bluespec/Near_Mem.git
[submodule "Debug_Module"]
	path = Debug_Module
	url = https://github.com/bluespec/RISCV_Debug_Module.git
